config:
    page.title: 'Widgetized Website'
    backend.title: 'HTML Widgetizer'
    backend.bg: '#069865'
    backend.color: '#fff'
    db.host: localhost
    db.user: root
    db.pass: root
    db.name: htmlwidgetizer
    cache.lifetime: 3600
    locale: en
    demo: 0