config:
    page.title: 'Widgetized Website'
    backend.title: 'HTML Widgetizer'
    backend.bg: '#7bb03b'
    backend.color: '#fff'
    db.host: localhost
    db.user: root
    db.pass: root
    db.name: htmlwidgetizer
    cache.lifetime: 3600