<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

#    Uncomment the following lines if you want to remove the .html-extension
#    from the url, so that example.org/team/john.html becomes example.org/team/john.
#    NOTE: This leads to a conflict between a directory /example and a file /example.html.
#    In this case the directory has a higher priority. So if you have /example (directory) and /example.html (file)
#    Then /example/index.html will be used. If /example/index.html doesn't exist you will get a 404 error
#    even if /example.html exists.

#    # redirect /index to /
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_URI} !^/backend.php
#    RewriteRule ^(.*)/?index$ /$1 [R,L]
#
#    # extend html extension internally
#    RewriteCond %{REQUEST_FILENAME}.html -f
#    RewriteCond %{REQUEST_URI} !^/backend.php
#    RewriteRule ^ %{REQUEST_URI}.html [L]
#
#    # redirect example.html to example to avoid dublicate content (seo issue)
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} -f
#    RewriteCond %{REQUEST_URI} !^/backend.php
#    RewriteCond %{THE_REQUEST} "\.html"
#    RewriteRule ^(.*)\.html$ /$1 [R,L]

    # frontcontroller
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_URI} !^/backend.php
    RewriteRule .\.html$ /frontend.php [L]
</IfModule>